/* Reset default margin and padding */
@font-face {
  font-family: "theFont";
  src: url("./SAMARN__.TTF") format("truetype");
  /* Add other font properties if needed */
}

body,
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Set a background color and center content */
.timer-body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 5rem;
  font-family: Arial, sans-serif;
}

/* Style the header */

.brand {
  font-family: "theFont";
  font-size: 3rem;
  text-align: center;
  margin: 3rem 0 5rem 0;
  /* margin-bottom: 26rem; */
  color: rgb(97, 67, 87);
}

/* Style the timer section */
#timer {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Style buttons */
button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#startButton {
  background-color: #4caf50;
  color: #fff;
}

#endButton {
  background-color: #f44336;
  color: #fff;
  /* display: none; */
}

/* Style the time details section */
#timeDetails {
  background-color: #fff;
  padding: 0px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 250px;
  overflow-y: auto;
}

/* Style the time list */
ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 14px;
  margin-bottom: 6px;
  color: #333;
}

/* Style the current time display */
#currentTime {
  font-size: 18px;
}

/* Style the total time display */
#totalTime {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

#countdown {
  display: none;
  margin-top: 20px;
}

#countdownDisplay {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

#clearStorageButton {
  font-size: 16px;
  padding: 10px 20px;
  position: absolute;
  bottom: 3rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f44336;
  color: #fff;
}

#clearStorageButton:hover {
  background-color: #d32f2f;
}

/* ... Existing CSS ... */
